{% load static %}
<!-- section begin -->
<section id="section-blog" class="fluid">
    <div class="container-fluid">
        <div class="row-fluid table">
            <div class="col-md-6 va-top">
                <div class="img-fx">
                    <img src="{% static 'assets-jonna/images/misc/3.jpg' %}" alt="">
                    <div class="img-url"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-wrap">

                    <div class="bloglist s1 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="d">28</div>
                                <div class="m">MAR</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="blog-single.html">The Best Website Design of 2022</a></h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione
                                    voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="bloglist s1 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="d">26</div>
                                <div class="m">MAR</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="blog-single.html">Make Better User Interface</a></h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione
                                    voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="bloglist s1 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="d">24</div>
                                <div class="m">MAR</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="blog-single.html">The Importance Of Web Design</a></h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione
                                    voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="bloglist s1 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="d">22</div>
                                <div class="m">MAR</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="blog-single.html">10 Web Design Tips From Experts</a></h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione
                                    voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="bloglist s1 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="d">18</div>
                                <div class="m">MAR</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="blog-single.html">Make Responsive Website Layouts</a></h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione
                                    voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->