{% extends 'base-jonna.html' %}
{% load static %}

{% block site_title %}
<title>{{ website_settings.title }} | {{ website_settings.sub_title }}</title>
{% endblock %}

{% block main_content %}
<!-- section begin -->
<!-- <section id="section-home" aria-label="section" class="full-height no-top no-bottom text-light" data-bgimage="url({% static 'assets-jonna/images/background/1.jpg' %})"> -->
<!-- <section id="section-home" aria-label="section" class="full-height no-top no-bottom text-light" data-bgimage="url({% static 'assets-jonna/images/background/2.jpg' %})"></section> -->
<section id="section-home" aria-label="section" class="full-height no-top no-bottom text-light" data-bgimage="url({{ about_me.person.cover_image.url }})">
    <div class="overlay-bg t50">
        <div class="middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="lead"><span class="id-color">Hi, welcome to my personal website.</span></p>
                        <div class="spacer20"></div>
                        <div class="h1_big">My name {{ website_settings.title }}, a
                            <br> USA based
                            <div class="typed-strings">
                                {% for slider_tag in about_me.slider_tags.all %}
                                <p>{{ slider_tag.title }}</p>
                                {% endfor %}
                            </div>
                            <div class="typed"></div>
                        </div>
                        <div class="spacer60"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#section-services" class="scroll-to">
        <span class="arrow bounce">
            <i class="arrow_down"></i>
        </span>
    </a>
</section>
<!-- section close -->

<!-- services  -->
{% include "./services.html" %}

<!-- experience -->
 {% include "./experience.html" %}

<!-- portfolio -->
 {% include "./portfolio.html" %}

<!-- blog -->
 {% include "./blog.html" %}

<!-- contact -->
 {% include "./contact.html" %}

{% endblock %}