{% load static %}
<!-- section begin -->
<section id="section-portfolio" aria-label="section-portfolio" class="fluid overwidth">
    <div class="container-fluid">
        <div id="album-carousel-2" class="owl-carousel owl-theme">
            <div class="carousel-item click" data-bgimage="url({% static 'assets-jonna/images/portfolio/1.jpg' %})"
                data-url="portfolio-single-1.html">
                <div class="mask s2 full-height">
                    <div class="cover">
                        <div class="text">
                            <h2>Light Bulb</h2>
                            <div class="tiny-border"></div>
                            <div class="clearfix"></div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item click" data-bgimage="url({% static 'assets-jonna/images/portfolio/2.jpg' %})"
                data-url="portfolio-single-2.html">
                <div class="mask s2 full-height">
                    <div class="cover">
                        <div class="text">
                            <h2>Winter Night</h2>
                            <div class="tiny-border"></div>
                            <div class="clearfix"></div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item click" data-bgimage="url({% static 'assets-jonna/images/portfolio/3.jpg' %})"
                data-url="portfolio-single-3.html">
                <div class="mask s2 full-height">
                    <div class="cover">
                        <div class="text">
                            <h2>Red Umbrella</h2>
                            <div class="tiny-border"></div>
                            <div class="clearfix"></div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item click" data-bgimage="url({% static 'assets-jonna/images/portfolio/4.jpg' %})"
                data-url="portfolio-single-4.html">
                <div class="mask s2 full-height">
                    <div class="cover">
                        <div class="text">
                            <h2>The Gentleman</h2>
                            <div class="tiny-border"></div>
                            <div class="clearfix"></div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item click" data-bgimage="url({% static 'assets-jonna/images/portfolio/5.jpg' %})"
                data-url="portfolio-single-5.html">
                <div class="mask s2 full-height">
                    <div class="cover">
                        <div class="text">
                            <h2>Mountain Rock</h2>
                            <div class="tiny-border"></div>
                            <div class="clearfix"></div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pf-nav left"><i class="arrow_left"></i></div>
    <div class="pf-nav right"><i class="arrow_right"></i></div>
</section>
<!-- section close -->